.skin_playlist1 {
    .plyr--full-ui input[type=range] {
        color: var(--plyr-color-main);
    }

    .plyr__time--duration::before {
        display: none;
    }

    .plyr__progress {
        margin-right: 0;
    }

    .item-active {
        border: 2px solid var(--plyr-color-main);
    }

    .items .icon--pressed {
        display: none;
    }

    .item-playing {
        .icon--not-pressed {
            display: none;
        }

        .icon--pressed {
            display: block;
        }
    }

    // svg {
    //     fill: var(--plyr-color-control);
    // }


    // .plyr.plyr--audio button:focus,
    // .plyr.plyr--audio button:focus {
    //     background-color: transparent;
    // }

    .plyr--audio .plyr__control:not([data-plyr="play"]):hover {
        background-color: transparent;
    }

    .plyr--audio .plyr__control[data-plyr="play"]:hover {
        --tw-ring-color: var(--plyr-color-main);
    }

    .plyr .bg-amber-500 {
        background-color: var(--plyr-color-main);
    }

    .plyr__progress input[type=range] {
        height: 5px;
    }

    .h5ap-scrollable-playlist {
        max-height: 220px;
        overflow-y: auto;
        padding-right: 8px;
        margin-bottom: 20px;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 8px !important;
            display: block !important;
        }

        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.15) !important;
            border-radius: 4px !important;
        }

        &::-webkit-scrollbar-thumb {
            background: #f4f2ee !important;
            border-radius: 4px !important;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #d97706 !important;
        }

        &.has-many-items {
            [data-plyr="playlist-item"] {
                padding: 12px !important;
                background: rgba(255, 255, 255, 0.03) !important;
                border: 1px solid rgba(255, 255, 255, 0.08) !important;
                border-radius: 12px !important;
                box-sizing: border-box !important;
            }
        }
    }
}